body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-weight: 300;
    /*padding-top: 40px;*/
}
a {
    text-decoration: none;
    color: #2F86EB;
}
a:hover {
    color: #2065C4;
}
#coursename {
	color: #2F86EB;
	margin: 30px 40px 20px;
	font-size: 40px;
	line-height: 45px;
  font-weight: 300;
}
#courseid {
	color: #2065C4;
	font-size: 60px;
	margin-right: 10px;
}
#courseinfo {
    margin-left: 40px;
}
.navbar-top {
    /*position: fixed;*/
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #2F86EB;
    line-height: 20px;
    text-align: center;
    z-index: 10;
}

.navbar-top a {
    color: white;
}
.navbar-top a:hover {
    color: white;
}
#navitems {
    display: inline-block;
    margin: 0 auto;
}
.navitem {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0 15px;
}
#toc-button {
    background-color: Transparent;
    border: none;
    float: left;
    margin-left: 15px;
    outline: none;
    margin-bottom: -10px;
    margin-top: -4px;
    cursor: pointer;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
#content {
    margin: 20px 40px 40px;
}
h3, .segment {
    margin-top: 20px;
    border-top: 2px solid #2F86EB;
    padding-top: 20px;
}

h3, .segmenttitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

p, .text {
    line-height: 24px;
    margin-top: 10px;
}

p {
    margin: 15px auto;
    max-width: 700px;
}

td > p {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;

}

/* Code blocks */
.highlight {
    border-radius: 3px;
    overflow: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

code {
    font-family: 'Inconsolata', monospace;
    color: #F7F7F7;
}

p code, ol code, ul code, h1 code, h2 code, h3 code, h4 code {
    /*background-color: #000;
    border-radius: 3px;*/
    border-radius: 3px;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 0px 5px;
}

.highlight > code {
  color: #F7F7F7;
  padding: 0px;
}

p > img {
  display: block;
  margin: 0 auto;
}

.red {
  color: red;
}

@media screen and (max-width: 750px) {
  .announcements {
    max-width: 700px;
  }
}


@media screen and (min-width: 750px) {
  .announcements {
    width: 700px;
  }
  .prev, .next {
    vertical-align: top;
    margin: 50px 15px 0 15px;
  }
}

.announcements {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 15px 0 15px;
  height: 250px;
  overflow-y: auto;
}

.announcements p {
  max-width: none;
}

.announcements li {
  text-align: left;
  width: 95%;
}

.prev, .next {
  display: inline-block;
  color: #2F86EB;
  padding: 10px;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.announcement-wrapper {
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#announce-scroll::-webkit-scrollbar-track
{
  border: 1px solid #d2e7ff;
  background-color: white;
}

#announce-scroll::-webkit-scrollbar
{
  margin-left: 5px;
  width: 10px;
  background-color: white;
}

#announce-scroll::-webkit-scrollbar-thumb
{
  background-color: #2F86EB;
}
