/* zesty.ca stylesheet. $Id: style.css,v 1.5 2005/11/13 12:21:17 ping Exp $ 
   modified 1/20/15 for cs61c sp15 proj1*/

body {
    margin: 0;
    padding: 0;
    font-family: lucida grande, verdana, sans-serif;
    font-size: 0.9em;
    line-height: 125%;
}
li {
    line-height: 135%;
}

/* Page structure. */

body {
    background: #eee;
}
div.header, div.header a, div.footer, div.footer a {
    color: #fff;
}
div.header, div.footer {
    background-color: #060053;
    padding: 20px;
    font-size: 0.75em;
}
div.header {
    border-bottom: 2px solid black;
}
div.footer {
    padding: 10px 20px;
    border-top: 1px solid black;
}
div.header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
}
div.header div.parent {
    float: right;
}
div.content {
    color: #000;
    padding: 20px;
    margin: 0 auto;
    max-width:1000px;
}
div.header-text {
	margin: 0 auto;
	max-width:1000px;
}

/* Content headings. */

h2, h3, h4 {
    color: #050;
}

body.cv h2 {
    color: #000;
    border-bottom: 1px dotted #888;
    margin-bottom: 0.5em;
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    font-style: italic;
}

tt {
    font-size: 1em;
}

/* Figures. */

div.figure, blockquote {
    margin-left: 30px;
    margin-right: 30px;
}
blockquote {
    color: #060;
}
blockquote div.attribution:before {
    content: "\2014";
}
blockquote div.attribution {
    text-align: right;
    font-style: italic;
}
div.figure img {
    border: 1px solid #aaa;
    display: block;
}
pre {
    background: #cdc;
    border: 1px dotted #aba;
    margin: 0;
    padding: 10px;
}
div.caption {
    margin-top: 0.25em;
    font-size: 0.75em;
}
div.caption span.number {
    font-weight: bold;
}

/* Inline styles. */
span.note {
    float: right;
    background: #fdb;
    border: 1px dotted #eb8;
    max-width: 20em;
    margin: 3px 0 0 6px;
    padding: 6px;
    font-size: 10px;
}
dfn {
    color: #800;
    font-weight: bold;
    font-style: normal;
}
code {
    white-space: nowrap;
}
.secbar { font-family: arial, helvetica, sans-serif;
          background-color: #d0d0ff; padding: 3px }
.input { font-family: monospace; color: #004080 ; font-weight: bold; }
.output { font-family: monospace; color: #800080 }
.activity { color: #04a; font-weight: bold; }
.question { color: #a40 }
.error { color: #ff0000 }
.lineno { color: #a0a0e0 }
.popanchor { color: #ff0080 }
.tipbox { background-color: #ffffe0; border: 1px solid black }
.tip { font-family: arial, helvetica, sans-serif; font-size: 8pt }
.date { font-family: arial, helvetica, sans-serif; font-size: 80% }
.hidden { display: none; }

/* Separate content blocks by 1em and sections by more. */

p, div.figure, div.activity, div.hidden, blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
}
div.section {
    margin-top: 2em; /* 2em * 12px body = 1.5em * 16px h2 */
}
h2, h3 {
    margin: 1.75em 0 0;
}
p:first-child, div:first-child, blockquote:first-child,
h2:first-child, h3:first-child {
    margin-top: 0;
}
p:last-child, div:last-child, blockquote:last-child,
h2:last-child, h3:last-child {
    margin-bottom: 0;
}

/* For two-column layout, wrap the columns with <div class="main"> and */
/* <div class="left">, then put a <div class="columns"> around both.   */

div.columns {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
div.columns div.main {
    float: left;
    margin-left: 100px;
}
div.columns div.left {
    float: left;
    width: 100px;
    color: #484;
    background: #020;
    margin-left: -100%;
    border-right: 1px solid #000;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}
div.columns div.left a {
    color: #484;
}
div.navigation {
    padding: 20px 10px;
}
div.navigation ol, div.navigation ul {
    margin: 0;
    padding: 0;
}
div.navigation li {
    list-style: none;
}
