body {
/*  min-height: 2000px;*/
  padding-top: 70px;
  position: relative;
}

a.anchor{display: block; position: relative; top: -70px; visibility: hidden;}

/* always assume on smaller screen first */

#floatdiv {
    display:none;
}
#floatdiv2 {
    display:none;
}


/* if screen size gets wider than 1024 */

@media screen and (min-width:1200px){
    #floatdiv {
        display:block;
    }
}

@media screen and (max-width:1199px){
    #floatdiv2 {
        display:block;
    }
}
